<h1>Hello, World.</h1>

<form action="/bookmarks" >
  <input type="submit" value="View Bookmarks">
  <label for="bookmark">Enter Bookmark</label>
  <input type="text" name="bookmark" >
  <input type="submit" value="Save Bookmark">
</form>
